.page{
  font-family: Lato;
  width: calc(100vw - 350px);
  margin-left: 350px;
  padding: 10rem;
  background-color: rgb(245, 244, 244);
  min-height: 100vh;
}

.recentAlerts{
  padding: 2rem;
  margin: 2rem;
  margin-left: 0;
  margin-top: 0;
  box-shadow: 0 0 9px -5px rgba(114, 114, 114, 0.308);
  border-radius: 0.5rem;
  background-color: white;
}

.alertFilled{
  display: inline-block;
  background-color: #7fc248;
  padding: 0.4rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  color: white;
  font-weight: 700;
  border-radius: 0.7rem;
}

.alertUnfilled{
  display: inline-block;
  background-color: #EB5757;
  padding: 0.4rem;
  padding-left: 3rem;
  padding-right: 3rem;
  color: white;
  font-weight: 700;
  border-radius: 0.7rem;
}


.seePhotobtn{
  border-radius: 2rem;
  padding: 0.6rem;
  box-shadow: 0 0 7.5px -5px rgb(53, 53, 53);
  background-color: white;
  display: block;
  font-size: 13px;
  width: 100%;
}

.seePhotobtn:hover{
  box-shadow: 0 1px 8.5px -5px black;
}

.alertStatusActive{
  border-radius: 2rem;
  background-color:#F9AA33;
  color:white;
  font-weight: bold;
  text-align: center;
  padding: 0.4rem;
}


.alertStatusInactive{
  border-radius: 2rem;
  background-color:#4A6572;
  color:white;
  font-weight: bold;
  text-align: center;
  padding: 0.4rem;
}