.newIFRContainer{
    width: calc(100vw - 350px);
    margin-left: 350px;
    padding-top: 20vh;
    font-family: Lato;
}

.newIFRSubcontainer{
    text-align: center;
    padding: 5rem;
}

.newIFRSelect{
    width: 8rem;
    display: inline-block;
}

.newIFRbtn{
    border-radius: 2rem;
    padding: 0.6rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-shadow: 0 0 7.5px -5px rgb(53, 53, 53);
    background-color: white;
    margin-top: 3rem;
}

.newIFRbtn:hover{
    box-shadow: 0 1px 8.5px -5px black;
}

.pencilImg{
    width: 1.3rem;
    margin-right: 0.6rem;
}