.App {
  text-align: left;
  background-color: white;
}

.header{
  background-color: #FFFFFF;
  display: flex;
  align-items: left;
  list-style-type: none;
  font-size: calc(10px + 2vmin);
  color: white;
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li{
  float: left;
}

li a {
  display: block;
  color: #4A6572;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  font-weight: bold;
}
