.App {
  text-align: left;
  background-color: white;
  height: 100vh;
  }

#page-wrap {
  text-align: center;
  overflow: auto;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #4A6572;
  transition: color 0.2s;
}

.bm-item:hover {
  color: #4A6572;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #D5E1E8;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #D5E1E8;
}

.bm-menu {
  background: white;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  margin-left: 0px;
}

.bm-morph-shape {
  fill: white;
}

.bm-item-list {
  color: #4A6572;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.h1{
  font-family: 'Ubuntu', sans-serif;
}

.header{
  background-color: #FFFFFF;
  display: flex;
  align-items: left;
  list-style-type: none;
  font-size: calc(10px + 2vmin);
  color: white;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
}